# OSX #
.DS_Store

# Byte-compiled / optimized / DLL files #
__pycache__/
*.py[cod]
*$py.class

# Django #
*.log
db.sqlite3
media

.venv
jsons_for_front_end
.idea/
cover
coverage_html
htmlcov
.coverage
